<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>mycompany Repository</id>
      <username>~~~Client~~~</username>
      <password>${connected_app_client_id}~?~${connected_app_client_secret}</password>
    </server>
  </servers>

</settings>